n8n_workflows/n8n_download_only.json
{
  "name": "Download GDrive 35 Outlets (ZIP)",
  "nodes": [
    {
      "parameters": {},
      "id": "6c326e67-40b8-4da3-82bf-12d120534451",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000001",
              "name": "bulan_no",
              "value": 7,
              "type": "number"
            },
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000002",
              "name": "tahun",
              "value": "2026",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f13659fb-69f1-4d5b-86ac-35bb77f3e994",
      "name": "Input Form (Bulan & Tahun)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "notes": "Ganti bulan_no (1-12) dan tahun sebelum run"
    },
    {
      "parameters": {
        "jsCode": "const bulan_names = ['JANUARI','FEBRUARI','MARET','APRIL','MEI','JUNI','JULI','AGUSTUS','SEPTEMBER','OKTOBER','NOVEMBER','DESEMBER'];\n\nconst bulan_no = parseInt($json.bulan_no);\nconst tahun = String($json.tahun || '2026');\n\nif (!bulan_no || bulan_no < 1 || bulan_no > 12) {\n  throw new Error('Bulan tidak valid: ' + bulan_no + '. Set bulan_no = 1..12 di node Input Form.');\n}\n\nconst no = String(bulan_no).padStart(2, '0');\nconst nama = bulan_names[bulan_no - 1];\n\nreturn [{\n  json: {\n    query: `${no}. ${nama} ${tahun}`,\n    bulan_str: nama.toLowerCase(),\n    bulan_no_str: no,\n    bulan_nama: nama,\n    tahun_str: tahun\n  }\n}];"
      },
      "id": "ba244b02-b0ad-4c40-b416-b85117ff2d43",
      "name": "Build Search Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// OUTLET FOLDER LIST - Daftar 35 Folder ID 'Stok Opname > 2026 NEW'\n// ============================================================\n// CARA UPDATE ID:\n// 1. Buka Google Drive > masuk ke folder outlet yg mau diubah\n// 2. Masuk ke: [Nama Outlet] > Stok Opname > 2026 NEW\n// 3. Buka folder 2026 NEW tersebut di browser.\n// 4. Copy ID dari URL (bagian setelah 'folders/').\n// Contoh: https://drive.google.com/drive/folders/1abc123... -> ID-nya: 1abc123...\n// 4. Ganti folderId di baris yang sesuai di bawah ini\n// ============================================================\nconst query = $('Build Search Query').first().json.query;\nconst bulan_no_str = $('Build Search Query').first().json.bulan_no_str;\nconst bulan_nama = $('Build Search Query').first().json.bulan_nama;\nconst tahun_str = $('Build Search Query').first().json.tahun_str;\n\nconst outlets = [\n  // Outlet 01 - Taplau\n  // URL: https://drive.google.com/drive/folders/1tX-wNlreCOFd_0EcGz1tbK4AgCwgm-3j\n  { no: '01', name: 'Taplau',         folderId: '1tX-wNlreCOFd_0EcGz1tbK4AgCwgm-3j' },\n\n  // Outlet 02 - Air Tawar\n  // URL: https://drive.google.com/drive/folders/173iiOUVbtvchV13jCtRNC5vUzSYU2sBV\n  { no: '02', name: 'Air Tawar',       folderId: '173iiOUVbtvchV13jCtRNC5vUzSYU2sBV' },\n\n  // Outlet 03 - Gunung Pangilun\n  // URL: https://drive.google.com/drive/folders/1cWFY_Um5V-vXaE5NJPNRxcaB2CQ0EYwG\n  { no: '03', name: 'Gunung Pangilun', folderId: '11h7uOJnOja6XPCy7lumLtgHtcMqXetlw' },\n\n  // Outlet 04 - Belibis\n  // URL: https://drive.google.com/drive/folders/1qmqXjI3NoWSv72vkj8MACiREVBxtEudF\n  { no: '04', name: 'Belibis',         folderId: '1wPeQgonsXTsfVJ8q6ZspyWInNP9KlmcF' },\n\n  // Outlet 05 - Siteba\n  // URL: https://drive.google.com/drive/folders/15GZOuhTdyMxwDj2IE78y62rYLj3WYmTo\n  { no: '05', name: 'Siteba',          folderId: '1yREvoR3a6ztvGglLGyYjNfnoBZdRW-h7' },\n\n  // Outlet 06 - Pasar Baru\n  // URL: https://drive.google.com/drive/folders/1-UcC_lwcb4lg6_McUxY2A1UrbeZkafRE\n  { no: '06', name: 'Pasar Baru',      folderId: '1YjZU9ouFuF_yL5qXmgkPVu7pj3jWyK7F' },\n\n  // Outlet 07 - Tunggul Hitam\n  // URL: https://drive.google.com/drive/folders/12-8zolThRLMLIs7A4UZ85ywIwnLUlvwp\n  { no: '07', name: 'Tunggul Hitam',   folderId: '1u5WpfYgjowI9rNqTQDKUidcpTaERMbKH' },\n\n  // Outlet 08 - Anduring\n  // URL: https://drive.google.com/drive/folders/1jssjG50obrWnksLAo-QcyxUGQIMEFjuy\n  { no: '08', name: 'Anduring',        folderId: '1XmLT0mcp_yvCjz4Fue9QnKRR9quGf7EO' },\n\n  // Outlet 09 - Jati\n  // URL: https://drive.google.com/drive/folders/1yVQ1GzkmIxBbaqs3R7u89zRjyGhtb02W\n  { no: '09', name: 'Jati',            folderId: '1EK0FKZONr1JaBTnLzf_ZihPrHMxSNgfn' },\n\n  // Outlet 10 - Air Pacah\n  // URL: https://drive.google.com/drive/folders/1aax4DCrR1UCu5sMoCCv2B8SfVyuWJECd\n  { no: '10', name: 'Air Pacah',       folderId: '1qrQoLTts6LHueafD2lfQEp0AjFcSwGQP' },\n\n  // Outlet 11 - Lubuk Begalung\n  // URL: https://drive.google.com/drive/folders/1DCaYoxyiexWxdwm9KBmrWR0PyFQ6SoTO\n  { no: '11', name: 'Lubuk Begalung',  folderId: '1tBsKg06dLuoy6JmtHcbqDknVj-4_Dfzy' },\n\n  // Outlet 12 - Balai Baru\n  // URL: https://drive.google.com/drive/folders/1gCjjCO2HWIyjalgxjXwJRpLjYxm_w4NW\n  { no: '12', name: 'Balai Baru',      folderId: '1iPDc3YItsVnnN9VyTxiscXfUTdzVyknt' },\n\n  // Outlet 13 - Cendrawasih\n  // URL: https://drive.google.com/drive/folders/1NvimoyPM0MqGf3etcO0OLI9DkcEYw09Q\n  { no: '13', name: 'Cendrawasih',     folderId: '1pIwVymmsRyZSKsq2YqqSAhJ4f25s0s62' },\n\n  // Outlet 14 - Seberang Padang\n  // URL: https://drive.google.com/drive/folders/1se0O3bZX1Wa4eLEm_hwNRLpu11zI7rM0\n  { no: '14', name: 'Seberang Padang', folderId: '1cbu2w26NzMtpRHCfu5__CKP3kZ_5dFe1' },\n\n  // Outlet 15 - Bandar Buat\n  // URL: https://drive.google.com/drive/folders/12QQtk2MkzFLHvmasaUEe1kh5L1uP_fn8\n  { no: '15', name: 'Bandar Buat',     folderId: '19IH3MJiDf8f3D1pUNoIwjO-JeW7pO-GP' },\n\n  // Outlet 16 - Air Dingin\n  // URL: https://drive.google.com/drive/folders/1pmkR0MTafN4CFZOY_nGiK2hZFY8vtmn6\n  { no: '16', name: 'Air Dingin',      folderId: '14ElAuXdxZSqPTI-ZkSg4HRsvjLewSMwZ' },\n\n  // Outlet 17 - Tabing\n  // URL: https://drive.google.com/drive/folders/1GV1pqUPac1F4wkpezvc7RiAa2IvttdyJ\n  { no: '17', name: 'Tabing',          folderId: '1rXwO8b18YSKQcFt3d4sJq01Xw6v8pekw' },\n\n  // Outlet 18 - Belimbing\n  // URL: https://drive.google.com/drive/folders/1zSQQfeM7_v_0phrjuxRNS2BrzYcgl-H5\n  { no: '18', name: 'Belimbing',       folderId: '1_uP2K_nKhLmgmYxuOIeu3PoniOXdW8Wv' },\n\n  // Outlet 19 - Rawang\n  // URL: https://drive.google.com/drive/folders/1HD1Hijf5GQ1IL8s-X-5IT5AsIspaoFs5\n  { no: '19', name: 'Rawang',          folderId: '1C-Vg1fmNUw3W4s-OsGasGSl6XCLtwzUH' },\n\n  // Outlet 20 - Lubuk Buaya\n  // URL: https://drive.google.com/drive/folders/1uDzue_p737irVDhxd4z2NE86sq53A1ze\n  { no: '20', name: 'Lubuk Buaya',     folderId: '1-LDYTk7f7bc3zAqFcJT7j1cMxDfqCXkx' },\n\n  // Outlet 21 - Parak Laweh\n  // URL: https://drive.google.com/drive/folders/1crisMZNG9xq8h37O0_QmLQ4CqDBtmIDS\n  { no: '21', name: 'Parak Laweh',     folderId: '1N22NxsK5El-YCBHvp7IW8CgvdbL90vGl' },\n\n  // Outlet 22 - Lubuk Lintah\n  // URL: https://drive.google.com/drive/folders/1uA2FB21eNS_lccKP0MwjoDBddg5tBO5T\n  { no: '22', name: 'Lubuk Lintah',    folderId: '1-kGfgg9qtGT_0gbN20GNAjNAhs-HDHTy' },\n\n  // Outlet 23 - Kasang\n  // URL: https://drive.google.com/drive/folders/1_5QzndgZeJvJmSjqpNgEb1sHQrKChGtM\n  { no: '23', name: 'Kasang',          folderId: '1AlusELaUI0X1-wQpKMCA412bpPMmkM_G' },\n\n  // Outlet 24 - Bungus\n  // URL: https://drive.google.com/drive/folders/1Q4Rakw0uFcu95MEzvqgISTCqJcgEZ7kJ\n  { no: '24', name: 'Bungus',          folderId: '1zeHjWeIujmCa3Yy2BWSd5CNxBBur7MhW' },\n\n  // Outlet 25 - Lubuk Alung\n  // URL: https://drive.google.com/drive/folders/1JtUN5GVFKaqlj2H5LMG7FnpWr_0Egsc3\n  { no: '25', name: 'Lubuk Alung',     folderId: '1RUuX5nGamTTeb9y0kAryTRo0JPKTN5lJ' },\n\n  // Outlet 26 - Kurai Taji\n  // URL: https://drive.google.com/drive/folders/1oS-E_gudB10DLY_qD6D0uaRgpPX4MKKs\n  { no: '26', name: 'Kurai Taji',      folderId: '1rV5aTJ_y7QdCpBD6JWCMSiM7w3AHo3Jt' },\n\n  // Outlet 27 - Lohong\n  // URL: https://drive.google.com/drive/folders/1nBjSE4IWAhZM8U6TjoeEw3FMKzmZ2k2B\n  { no: '27', name: 'Lohong',          folderId: '1kBHIVlRWR306nGLeR24U1JJqESC7Yz0J' },\n\n  // Outlet 28 - Manggung\n  // URL: https://drive.google.com/drive/folders/11kNeSTKOpI7lx3dLGGc1m-0YSz-wZ1xw\n  { no: '28', name: 'Manggung',        folderId: '1-cKyprfQXHkjT8q9hUwsfHbEcUOj-vmE' },\n\n  // Outlet 29 - Pauh Kambar\n  // URL: https://drive.google.com/drive/folders/14cop4cauv_bdlEcOMrzfJyMFxNcPy1Kn\n  { no: '29', name: 'Pauh Kambar',     folderId: '1yMicVjrJoj_SfDjc4l07fsBWrxju4aOa' },\n\n  // Outlet 30 - Sicincin\n  // URL: https://drive.google.com/drive/folders/12GLibIW4l9RL6j8yQ8ccP1RlXqgKNjua\n  { no: '30', name: 'Sicincin',        folderId: '1cgNLjcinmjPaXfAeVDq6zxTlfbdmarEw' },\n\n  // Outlet 31 - Tanah Garam\n  // URL: https://drive.google.com/drive/folders/12PIm-pmBqONDGHEivwNzl6kGJ8weF3HK\n  { no: '31', name: 'Tanah Garam',     folderId: '1ARo6wM79h-9ZkGPERwlRIoggPgx7nQSZ' },\n\n  // Outlet 32 - Selayo\n  // URL: https://drive.google.com/drive/folders/1Oq7a-1RjmJU5kqdbZsXz5VF3ADfAfL9M\n  { no: '32', name: 'Selayo',          folderId: '1DdDzCqVyRKSqfAl2o1SwdC87q2fVVXez' },\n\n  // Outlet 33 - Gunung Talang\n  // URL: https://drive.google.com/drive/folders/1F7qotc20LVwkf6SFn4SAzyZfWjN5IT2V\n  { no: '33', name: 'Gunung Talang',   folderId: '1OJW3ez6B-eHoETfWYEn5iuS_rb6LfApU' },\n\n  // Outlet 34 - Sungai Sariak\n  // URL: https://drive.google.com/drive/folders/10x-XTFYohpaRoOii-jHJ6RDBM7MIxLTB\n  { no: '34', name: 'Sungai Sariak',   folderId: '1hNI-2M8NSt_pVX4zDBXCp5RUPpHaOXVc' },\n\n  // Outlet 35 - Simpang Rumbio\n  // URL: https://drive.google.com/drive/folders/16ckG9-YmCeJ9IjLDQXiF40NvUav9I8hq\n  { no: '35', name: 'Simpang Rumbio',  folderId: '1yuoz-lMADfMn7lxZKxp7e2IOZxXR4_5Q' }\n];\n\nreturn outlets.map(o => ({\n  json: {\n    outlet_no: o.no,\n    outlet_name: o.name,\n    folder_id: o.folderId,\n    // Nama lengkap file SO yang dicari (misal: '07. JULI 2026 01. TAPLAU')\n    // Google Drive akan mencari file dengan nama ini secara TEPAT di dalam folder\n    full_name: `${bulan_no_str}. ${bulan_nama} ${tahun_str} ${o.no}. ${o.name.toUpperCase()}`\n  }\n}));"
      },
      "id": "59de56d0-b333-46c9-b810-c354b2af74cc",
      "name": "Outlet Folder List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "notes": "35 folder ID 'Stok Opname > 2026 NEW' per outlet.\nOutput: 35 items.\n\n[INFO PENTING]\nID yang diambil adalah ID dari folder '2026 NEW' itu sendiri. Buka folder 2026 NEW di browser, lalu copy ID dari URL (setelah folders/)."
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 5,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.folder_id }}"
          }
        },
        "options": {}
      },
      "id": "41785f35-7538-44c9-b1ef-51ed34e15cf7",
      "name": "Google Drive Search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0NjoC28u6Mzdkc9E",
          "name": "Google Drive account"
        }
      },
      "notes": "Mencari langsung di folder '2026 NEW' masing-masing outlet.\nDijalankan 35x (sekali per outlet)."
    },
    {
      "parameters": {
        "jsCode": "// Filter SO Files: ambil 1 file terbaru per outlet\nconst items = $input.all();\nconst query = $('Build Search Query').first().json.query.toLowerCase();\n\n// Daftar outlet dari inventory\nconst outletNames = [\n  'taplau','air tawar','gunung pangilun','belibis','siteba',\n  'pasar baru','tunggul hitam','anduring','jati','air pacah',\n  'lubuk begalung','balai baru','cendrawasih','seberang padang','bandar buat',\n  'air dingin','tabing','belimbing','rawang','lubuk buaya',\n  'parak laweh','lubuk lintah','kasang','bungus','lubuk alung',\n  'kurai taji','lohong','manggung','pauh kambar','sicincin',\n  'tanah garam','selayo','gunung talang','sungai sariak','simpang rumbio'\n];\n\nconst outletMap = {};\n\nfor (const item of items) {\n  const name = (item.json.name || '').trim().toLowerCase();\n  \n  // 1. Harus mengandung bulan+tahun (misal '07. juli 2026')\n  if (!name.includes(query)) continue;\n  \n  // 2. Tentukan nomor outlet\n  let matchedOutlet = null;\n  for (let i = 0; i < outletNames.length; i++) {\n    if (name.includes(outletNames[i])) {\n      matchedOutlet = String(i + 1).padStart(2, '0');\n      break;\n    }\n  }\n  \n  // Jika tidak cocok nama, coba cari angka outlet-nya (fallback)\n  if (!matchedOutlet) {\n    const nums = name.match(/\\b\\d{1,2}\\b/g);\n    if (nums) {\n      matchedOutlet = nums[nums.length - 1].padStart(2, '0');\n    }\n  }\n  \n  if (!matchedOutlet) continue;\n  \n  // 3. Simpan hanya 1 file terbaru (karena Google Drive Search sudah mengurutkan modifiedTime desc)\n  if (!outletMap[matchedOutlet]) {\n    outletMap[matchedOutlet] = item;\n  }\n}\n\nconst filtered = Object.values(outletMap);\nconsole.log(`Filter: ${items.length} total \u2192 ${filtered.length} outlet SO files (1 per outlet)`);\nreturn filtered;"
      },
      "id": "4caa702b-2339-4ea4-8ad7-5aa776b64a32",
      "name": "Filter SO Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "notes": "Ambil 1 file per folder outlet yang cocok bulan+tahun."
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {
          "googleFileConversion": {
            "conversion": {
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "id": "9d468ee8-38b7-4bff-8bf3-1c4e088e3815",
      "name": "Download Sheet (Export as xlsx)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1328,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0NjoC28u6Mzdkc9E",
          "name": "Google Drive account"
        }
      },
      "notes": "n8n otomatis run node ini untuk setiap file (35x)\nTidak perlu Loop node!"
    },
    {
      "parameters": {
        "jsCode": "// Kumpulkan semua binary xlsx dari Download Sheet (35 items) jadi 1 item\nconst items = $input.all();\nconst mergedBinary = {};\nconst keys = [];\nlet count = 0;\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (!item.binary) continue;\n  for (const key of Object.keys(item.binary)) {\n    const b = item.binary[key];\n    // Pastikan nama file adalah nama asli dari Google Drive (agar ada nomor outlet-nya)\n    let namaFile = item.json.name || b.fileName || `so_file_${i}`;\n    if (!namaFile.toLowerCase().endsWith('.xlsx')) namaFile += '.xlsx';\n    b.fileName = namaFile;\n    \n    const safeKey = `f${String(i).padStart(2,'0')}`;\n    mergedBinary[safeKey] = b;\n    keys.push(safeKey);\n    count++;\n  }\n}\n\nif (count === 0) throw new Error('Tidak ada binary! Pastikan Download Sheet berhasil.');\n\nconsole.log(`Collected ${count} files \u00e2\u2020\u2019 keys: ${keys.join(',')}`);\n\nreturn [{\n  json: {\n    so_file_count: count,\n    binary_keys: keys.join(',')\n  },\n  binary: mergedBinary\n}];"
      },
      "id": "5bf59ffe-be81-4d23-8e8a-078667aef491",
      "name": "Collect all binaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ],
      "notes": "Gabungkan 35 binary xlsx jadi 1 item untuk Compress\nPastikan nama file terjaga."
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ $json.binary_keys }}",
        "outputFormat": "zip",
        "fileName": "so_bundle"
      },
      "id": "49f20860-8e01-40a4-8963-971d79613a92",
      "name": "Compress to ZIP",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ],
      "notes": "Compress semua SO xlsx \u00e2\u2020\u2019 so_bundle.zip\nbinaryPropertyName dari $json.binary_keys"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:/Users/dikaa/.n8n-files/SO_Outlets/={{ 'so_outlets_' + $('Input Form (Bulan & Tahun)').first().json.bulan_no + '_' + $('Input Form (Bulan & Tahun)').first().json.tahun + '.zip' }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-file-node-123",
      "name": "Write to Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1984,
        0
      ],
      "notes": "Menyimpan file ZIP ke folder C:/Users/dikaa/.n8n-files/SO_Outlets/"
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Input Form (Bulan & Tahun)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Form (Bulan & Tahun)": {
      "main": [
        [
          {
            "node": "Build Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Query": {
      "main": [
        [
          {
            "node": "Outlet Folder List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlet Folder List": {
      "main": [
        [
          {
            "node": "Google Drive Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Search": {
      "main": [
        [
          {
            "node": "Filter SO Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter SO Files": {
      "main": [
        [
          {
            "node": "Download Sheet (Export as xlsx)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Sheet (Export as xlsx)": {
      "main": [
        [
          {
            "node": "Collect all binaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect all binaries": {
      "main": [
        [
          {
            "node": "Compress to ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress to ZIP": {
      "main": [
        [
          {
            "node": "Write to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "download-only-zip-version-1",
  "id": "download_only_35_outlets_zip"
}